<header id="header-wrap">
    <div id="header">
        <a name="top"></a>
        <h1 id="logo-text"><a href="/" title="">pythonvision.org</a></h1>
        <p id="slogan">For computer vision in Python</p>
        <nav id="nav">
            <ul id='navigation'>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/software">Software</a></li>
                <li><a href="/contribute">Contribute</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </nav>
        <p id="rss">
        <a href="/blog/feed">Grab the RSS feed</a>
        </p>
        <div class="clear"></div>
        <form id="quick-search" method="get" action="/">
            <fieldset class="search">
                <label for="qsearch">Search:</label>
                <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
                <button class="btn" title="Submit Search">Search</button>
            </fieldset>
        </form>
    </div>
</header>
