<div class='google_mailinglist'>
    <table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
      <tr><td>
              <img src="{{site.url}}/media/files/images/groups_logo_sm.gif"
             height=30 width=140 alt="Google Groups" />
      </td></tr>
      <tr><td style="padding-left: 5px">
      <b>Subscribe to pythonvision</b>
      </td></tr>
      <form action="http://groups.google.com/group/pythonvision/boxsubscribe">
      <tr><td style="padding-left: 5px;">
      Email: <input type=text name=email>
      <input type=submit name="sub" value="Subscribe">
      </form>
      </td></tr>
    <tr><td align=right>
      <a href="http://groups.google.com/group/pythonvision">Visit this group</a>
    </td></tr>
    </table>
</div>

