{% load simplemenu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Pythonvision{% endblock %}</title>
    <link href="/media/coolblue/css/screen.css" rel="stylesheet" type="text/css" />
    <link href="/media/style/pygments.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>

<body>
<div id="header-wrap">
    <div id="header">
	<a name="top"></a>
	<h1 id="logo-text"><a href="/" title="">pythonvision.org</a></h1>
	<p id="slogan">For computer vision in Python</p>
      <div id="nav">
        {% block topbar %}
            {% show_tabs "Top Menu" %}
        {% endblock %}

      </div>
       <p id="rss">
          <a href="/blog/feed">Grab the RSS feed</a>
       </p>
        <div class="clear"></div>
   <form id="quick-search" method="get" action="/">
      <fieldset class="search">
         <label for="qsearch">Search:</label>
         <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
         <button class="btn" title="Submit Search">Search</button>
      </fieldset>
   </form>

<!--/header-->
</div></div>
</div>
<div id="content-wrap" class="clear">
    <div id="content">
       <div id="main">
            {% autoescape off %}
                {% block content %}
                    My content
                {% endblock %}
            {% endautoescape %}
            <div class="clear"></div>
        </div>

        <div id="sidebar">
            <div class="sidemenu">
              {% block sidebar %}
                {% show_menu "Main Menu" %}
              {% endblock %}
            </div>

            <div class="sidemenu">
                <h3>Mailing List</h3>
                {% include "promotion.html" %}
            </div>
        </div>
    </div>
</div>
<div id="footer">
<div id="footer-bottom">
	<p class="bottom-left">
    Copyright &copy; pythonvision.org
    <div id="templateinfo"><a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a></div>
	</p>

    <!-- Site Meter -->
    <script type="text/javascript" src="http://s35.sitemeter.com/js/counter.js?site=s35pythonvision">
    </script>
    <noscript>
    <a href="http://s35.sitemeter.com/stats.asp?site=s35pythonvision" target="_top">
    <img src="http://s35.sitemeter.com/meter.asp?site=s35pythonvision" alt="Site Meter" border="0"/></a>
    </noscript>
    <!-- Copyright (c)2009 Site Meter -->

</div>


<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15919776-1");
pageTracker._trackPageview();
} catch(err) {}</script>


</body>
</html>
