<!DOCTYPE html>
<html>
{% include head.html %}
<body>

{% include header.html %}
<div id="content-wrap" class="clear">
    <div id="content">
        <div id="main">
            {{ content }}
            <div class="clear"></div>
        </div>

        <div id="sidebar">
            <div class="sidemenu">
                {% include sidebar.html %}
            </div>

            <div class="sidemenu">
                <h3>Mailing List</h3>
                {% include promotion.html %}
            </div>
        </div>
    </div>
</div>
{% include footer.html %}

</body>

</html>
